<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Padilha's webshop</title>
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'shop/styles/patternstyle.css' %}"> 
</head>
<body>
    <div id="header">
        <img class="logo"  src="{% static 'shop/images/logo.png' %}">
        <form class="search" action="{% url 'index' %}" method="get">
            <input type="text" name="q" value="{{ filter }}">
            <button type="submit">Search</button>
        </form>
    </div>   
    <div id = "categories">
        <ul>
            <Li><a href="{% url 'index' %}">All</a></Li>
            {% for category in categories %}
            <Li><a href="{% url 'categories' category.id %}">{{category.name}}</a></Li>
            {% endfor %}

        </ul>
    </div>
    <h1>{{ title }}</h1>
    {% block main %}{% endblock %}
</body>
</html>
